<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>campgrounds</H1>

    <a href="/campgrounds/new"> <h3>Create Campground</h3></a>

    <ul>
        <% for( let camp of campgrounds){ %>
            <a href="/campgrounds/<%=camp.id%>"><li> <%= camp.title %></li></a>
       <% } %>
    </ul>
</body>1
</html>