<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <form action="/campgrounds" method="post">
      <label for="title">title:-</label>
      <input id="title" placeholder="title" name="title" />
      <label for="location">location:-</label>
      <input id="location" placeholder="location" name="location" />
      <button>Create Campground</button>
    </form>
  </body>
</html>
