<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= foundProduct.title %> </h1>
    <h2> <%= foundProduct.Location %></h2>

    <a href="/campgrounds/update/<%=foundProduct.id%>">Update product</a>

    <a href="/campgrounds">All campgrounds</a>

    <a href ="/campgrounds/delete/<%=foundProduct.id%>">Delete Product</a>
</body>
</html>