<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/campgrounds/<%=updateProduct.id%>" method="post">
        <label for="title">Title:-</label>
        <input name="updatedTitle" value="<%=updateProduct.title%>">
       
        <label for="location">Location:-</label>
        <input name="updatedLocation" value="<%=updateProduct.Location%>">
        <button>Update</button>
    </form>

</body>
</html>